# =========================
# React Frontend
# =========================
peerprep-frontend/node_modules/
peerprep-frontend/build/

# Frontend Environment
peerprep-frontend/.env

# =========================
# Backend (Python)
# =========================
backend/__pycache__/
backend/.env
*.pyc
*.pyo
*.pyd

# Python Virtual Environment
venv/
.venv/
env/

# =========================
# Root
# =========================
node_modules/
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# MongoDB
# =========================
*.wt
*.lock

# =========================
# Test Cache
# =========================
.pytest_cache/
.coverage